.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

html {
  width: 100%;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

@media (min-width: 321px) and (max-width: 600px) {
  html {
    width: 100%;
  }
}

/**********************
/* Scrollbar */
/******************/

::-webkit-scrollbar {
  width: 20px;
}

/********************
/* Track */
/********************/

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/***********************
/* Handle */
/**********************/

::-webkit-scrollbar-thumb {
  background: #f18c8e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f18c8e;
}

/************
Header 
/**************/

header {
  width: 100%;
color: black;
}


/* header img {
  width: 100%;
  height: 60px;
  float: left;
  mix-blend-mode: multiply;
  margin-right: 10%;
} */

@media (min-width: 321px) and (max-width: 600px) {
  .logo {
    margin-right: 5%;
    width: 5%;
  }
}

.logo {
  float: left;
  width: 5%;
  height: 4px;
}

.navigation {
  float: right;
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation {
    width: 100%; /* Full height */
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation:hover {
    background: black;
    color: white;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
}

ul,
li,
.dropbtn,
.dropdown {
  width: 100%;
  font-family: "Cinzel", serif;
  list-style: none;
  font-weight: bold;
  color: black;
  float: right;
  display: flex;
  transition: 1s ease-in-out;
  height: auto;
  font-size: 1em;
}

@media (min-width: 321px) and (max-width: 600px) {
  .hide {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .show {
    margin-left: 25%;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation:hover {
    background: black;
    color: white;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
}

li:hover {
  /* color: black;
  width: 100%; */
  text-decoration: white underline;
}

.showHome {
  display: none;
}

@media (min-width: 321px) and (max-width: 600px) {
  .showHome {
    display: contents;
  }
}

main {
  background-image: url("https://media.allure.com/photos/5ee3fa2b9fef7c000870b6a4/1:1/w_2000,h_2000,c_limit/black-owned-hair-care-brands-.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  border-bottom: 5px solid black;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-top: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
}

@media (min-width: 321px) and (max-width: 600px) {
  main {
    background-image: url("https://media.allure.com/photos/5ee3fa2b9fef7c000870b6a4/1:1/w_2000,h_2000,c_limit/black-owned-hair-care-brands-.jpg");
    width: 100%; /* Full height */
    border-bottom: 2px solid black;
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: 100%;
  }
}

.hours{
  color: white;
  margin: 0;
    transform: rotate(180deg);
   writing-mode: vertical-lr;
  text-align: center;
  line-height: 2;
    font-family: "Cinzel", serif;
  font-size: 1.5em;
  float: right;

}

/**********
Products Section
/**********/

.product {
  max-width: 15%;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 15%;
  margin-bottom: 5%;
  height: auto;
  font-family: "Cinzel", serif;
  text-align: center;
  float: left;
  margin-bottom: 5%;
}

/******** 
*********Product Media Query*/

@media (min-width: 321px) and (max-width: 600px) {
  .product {
    max-width: 100%;
    margin-top: 30%;
    display: block;
  }
}

.image {
  width: 50%;
  margin-left: 20%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .image {
    margin-left: 25%;
    width: 50%;
    display: block;
  }
}

.product_list {
  width: 100%;
  height: auto;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 321px) and (max-width: 600px) {
  .product_list {
    width: 70%;
    text-align: center;
  }
}

/***************************
/* Headings */
/***************************/

h1 {
  color: #f18c8e;
  font-family: "Cinzel", serif;
  font-size: 4em;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

@media (min-width: 321px) and (max-width: 600px) {
  h1 {
    text-align: center;
    padding-top: 30%;
    font-size: 2em;
  }
}

.gif {
  position: absolute;
  width: 100%;
  top: 60%;
  -webkit-animation: fadeslideUp 12s infinite; /* Chrome, Opera 15+, Safari 5+ */
  -moz-animation: fadeslideUp 12s infinite; /* Fx 5+ */
  -o-animation: fadeslideUp 12s infinite; /* Opera 12+ */
  animation: fadeslideUp 12s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.gif h2 {
  text-align: center;
  font-weight: bold;
  color: #f18c8e;
  font-family: "Cinzel", serif;
}

#g2 {
  animation-delay: -9s;
  -webkit-animation-delay: -9s;
}

#g3 {
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

#g4 {
  animation-delay: -3s;
  -webkit-animation-delay: -3s;
}

@-webkit-keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
}

@-moz-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@-o-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-60%);
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .gif h2 {
    text-align: center;
    font-size: 1em;
  }
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

h3 {
  height: 50px;
  margin-left: 45%;
  font-size: 1.5em;
  max-width: 40%;
  color: #2b1d0e;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 321px) and (max-width: 600px) {
  h3 {
    display: grid;
    max-width: 70%;
    font-size: 2em;
    margin-left: 25%;
    width: 30%;
    font-style: italic;
  }
}

h4 {
  font-size: 2em;
  margin-left: 8%;
  font-style: italic;
}

@media (min-width: 321px) and (max-width: 600px) {
  h4 {
    max-width: 80%;
    font-size: 2em;
    text-align: center;
    font-style: italic;
  }
}

h4 p {
  margin-left: 5%;
}

@media (min-width: 321px) and (max-width: 600px) {
  h4 p {
    max-width: 100%;
    font-size: 1em;
    text-align: center;
    font-style: italic;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  h4 .clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
}

/*html {
  width: 100%;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

@media (min-width: 321px) and (max-width: 600px) {
  html {
    width: 100%;
  }
}

/**********************
/* Scrollbar */
/******************/



@media (min-width: 321px) and (max-width: 600px) {
  .logo {
    margin-right: 5%;
    width: 5%;
    height: 10px;
    mix-blend-mode: multiply;
  }
}

.logo {
  float: left;
  width: 5%;
  height: auto;
  mix-blend-mode: multiply;
  margin-right: 15%;
}
.navigation {
  float: right;
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation {
    width: 100%; /* Full height */
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation:hover {
    background: black;
    color: white;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
}

ul,
li,
.dropbtn,
.dropdown {
  width: 100%;
  font-family: "Cinzel", serif;
  list-style: none;
  font-weight: bold;
  color: white;
  float: right;
  display: flex;
  transition: 1s ease-in-out;
  height: auto;
  font-size: 1em;
  color: white;
}

@media (min-width: 321px) and (max-width: 600px) {
  .hide {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .show {
    margin-left: 25%;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .navigation:hover {
    background: black;
    color: white;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
}

li:hover {
  /* color: black;
  width: 100%; */
  text-decoration: white underline;
}

.showHome {
  display: none;
}

@media (min-width: 321px) and (max-width: 600px) {
  .showHome {
    display: contents;
  }
}

main {
  background-image: url("https://media.allure.com/photos/5ee3fa2b9fef7c000870b6a4/1:1/w_2000,h_2000,c_limit/black-owned-hair-care-brands-.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  border-bottom: 5px solid black;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-top: 10px;
} 

@media (min-width: 321px) and (max-width: 600px) {
  main {
    background-image: url("https://media.allure.com/photos/5ee3fa2b9fef7c000870b6a4/1:1/w_2000,h_2000,c_limit/black-owned-hair-care-brands-.jpg");
    width: 100%; /* Full height */
    border-bottom: 2px solid black;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: 100%;
  }
}

/**********
Products Section
/**********/

.product {
  max-width: 15%;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 15%;
  margin-bottom: 5%;
  height: auto;
  font-family: "Cinzel", serif;
  text-align: center;
  float: left;
}

/******** 
*********Product Media Query*/

@media (min-width: 321px) and (max-width: 600px) {
  .product {
    max-width: 100%;
    margin-top: 30%;
    display: block;
  }
}

.image {
  width: 50%;
  margin-left: 20%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .image {
    margin-left: 25%;
    width: 50%;
    display: block;
  }
}

.product_list {
  width: 100%;
  height: auto;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 321px) and (max-width: 600px) {
  .product_list {
    width: 70%;
    text-align: center;
  }
}

/***************************
/* Headings */
/***************************/

h1 {
  color: #f18c8e;
  font-family: "Cinzel", serif;
  font-size: 4em;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

@media (min-width: 321px) and (max-width: 600px) {
  h1 {
    text-align: center;
    padding-top: 30%;
    font-size: 2em;
  }
}

.gif {
  position: absolute;
  width: 100%;
  top: 60%;
  -webkit-animation: fadeslideUp 12s infinite; /* Chrome, Opera 15+, Safari 5+ */
  -moz-animation: fadeslideUp 12s infinite; /* Fx 5+ */
  -o-animation: fadeslideUp 12s infinite; /* Opera 12+ */
  animation: fadeslideUp 12s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.gif h2 {
  text-align: center;
  font-weight: bold;
  color: #f18c8e;
  font-family: "Cinzel", serif;
}

#g2 {
  animation-delay: -9s;
  -webkit-animation-delay: -9s;
}

#g3 {
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

#g4 {
  animation-delay: -3s;
  -webkit-animation-delay: -3s;
}

@-webkit-keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
}

@-moz-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@-o-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-60%);
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .gif h2 {
    text-align: center;
    font-size: 1em;
  }
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

h3 {
  height: 50px;
  margin-left: 45%;
  font-size: 1.5em;
  max-width: 40%;
  color: #2b1d0e;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 321px) and (max-width: 600px) {
  h3 {
    display: grid;
    max-width: 70%;
    font-size: 2em;
    margin-left: 25%;
    width: 30%;
    font-style: italic;
  }
}

h4 {
  font-size: 2em;
  margin-left: 8%;
  font-style: italic;
}

@media (min-width: 321px) and (max-width: 600px) {
  h4 {
    max-width: 80%;
    font-size: 2em;
    text-align: center;
    font-style: italic;
  }
}

h4 p {
  margin-left: 5%;
}

@media (min-width: 321px) and (max-width: 600px) {
  h4 p {
    max-width: 100%;
    font-size: 1em;
    text-align: center;
    font-style: italic;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  h4  {
    max-width: 100%;
    font-size: 1em;
    text-align: center;
    margin-left: 20%;
    font-style: italic;
  }
}

h5 {
  font-size: 1em;
  font-family: "Cinzel", serif;

  color: #f18c8e;
  text-align: center;
  animation: animate 1.5s linear infinite;
}

@media (min-width: 321px) and (max-width: 600px) {
  .h5 {
    font-size: 1px;
    text-align: center;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

h6 {
  text-align: center;
  font-size: 4em;
  font-size: bold;
}

@media (min-width: 321px) and (max-width: 600px) {
  h6 {
    margin-top: 5%;
    font-size: 2.5em;
  }
}

/********
Goddess Experience
/**********/


.experience {
  width: 100%;
  font-family: "Cinzel", serif;
  color:  #f18c8e;
  height: auto;
  margin-right: 20%;
  margin-top: 10%;
  font-size: 1em;
  margin-bottom: 15%;
  padding-bottom: 10px;
  float: left;
  background-image: url('https://th.bing.com/th/id/OIP.6YRRvcEbll7R_Af827NEswHaE2?pid=ImgDet&rs=1');
   background-repeat: no-repeat;
   background-size: 100%;
    background-position: center;
  background-attachment: fixed;
  
}

@media (min-width: 321px) and (max-width: 600px) {
  .experience {
    width: 80%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-top: 10%;
  }
}

.vid {
  float: right;
  position: absolute;
  bottom: -105%;
  right: 15%;
  margin-bottom: 5%;
  width: 600px;
  height: 315;
}

@media (min-width: 321px) and (max-width: 600px) {
  .vid {
    width: 50%;
    margin-bottom: 15%;
    position: absolute;
    bottom: -305%;
  }
}

.paragraph {
  margin-left: 8%;
}

/************************
/* Stylists Photos */
/*************************/

.stylists {
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .stylists {
    border: 1px solid black;
  }
}

.zero {
  background-image: url("https://www.capronparkdental.com/assets/images/cosmetic-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
  height: 350px;
  text-align: center;
  float: left;
  font-family: "Cinzel", serif;
}

@media (min-width: 321px) and (max-width: 600px) {
  .zero {
    width: 85%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 7%;
  }
}

.one {
  background-image: url("https://image.freepik.com/free-photo/indoor-shot-attractive-dark-skinned-girl-with-toothy-smile_273609-18466.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 350px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  font-family: "Cinzel", serif;
}

@media (min-width: 321px) and (max-width: 600px) {
  .one {
    width: 85%;
    margin-bottom: 15%;
    margin-left: 7%;
  }
}

.two {
  background-image: url("https://media.istockphoto.com/photos/portrait-of-joyful-black-woman-laughing-isolated-on-pink-background-picture-id1126649044?k=6&m=1126649044&s=170667a&w=0&h=Kxyxi7q_6_M-pE1Z8zL91cDYiP86JSXi-chErBq4jqg=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  margin-left: 5%;
  height: 350px;
  text-align: center;
  float: left;
  font-family: "Cinzel", serif;
}

@media (min-width: 321px) and (max-width: 600px) {
  .two {
    width: 85%;
    margin-left: 7%;
    margin-bottom: 15%;
    margin-top: 5%;
  }
}

/***************************************
/*Coupons */
/******************************************/

.coupon1 {
  padding-top: 3%;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  color: #2b1d0e;
  position: absolute;
  top: 70%;
  left: 10%;
  width: 15%;
  height: 200px;
  font-family: "Cinzel", serif;
}

.coupon1 p {
  animation: animate 1.5s linear infinite;
}

@media (min-width: 321px) and (max-width: 600px) {
  .coupon1 {
    width: 30%;
    float: left;
    height: 50%;
    margin-bottom: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 321px) and (max-width: 600px) {
  .coupon1 p {
    animation: animate 1.5s linear infinite;
    font-size: 1em;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .coupon1 .btn {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    margin-bottom: 5%;
  }
}

.coupon2 {
  background-image: url("https://th.bing.com/th/id/R.38027dbe7f8f579a3ecc5ce45882b164?rik=I%2b2H3o8bzN4krQ&riu=http%3a%2f%2fimages.huffingtonpost.com%2f2016-04-22-1461351055-1298716-hair.jpg&ehk=6StweX8895AnmJ3Z1qucYq1EFHvAyci7ubol3ic9gd4%3d&risl=&pid=ImgRaw&r=0");
  width: 85%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-top: 10%;
  height: 350px;
  font-size: 2em;
  color: #f18c8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 321px) and (max-width: 600px) {
  .coupon2 {
    max-width: 100%;
    height: 190px;
    margin-bottom: 30%;
    margin-right: 15%;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .coupon2 .btn {
    max-width: 100%;
    height: 50px;
    margin-left: 20%;
  }
}

/**************************
Lookbook
/************************/

.lookbook {
  color: black;
  font-family: "Cinzel", serif;
  margin-top: 10%;
  height: 600px;
  margin-left: 15%;
  margin-bottom: 10%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .lookbook {
    max-width: 120%;
    height: 500px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    border: 1px solid black;
  }
}

.look1 {
  height: 200px;
  width: 20%;
  margin: 1%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .look1 {
    max-width: 200%;
    height: 250px;
    margin-bottom: 10%;
    margin-left: 1%;
  }
}

.look2 {
  height: 300px;
  width: 20%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .look2 {
    max-width: 200%;
    height: 300px;
    margin-bottom: 10%;
    margin-left: 1%;
  }
}

/************ 
Buttons
/*************/

.btn,
.btn1 {
  background: #2b1d0e;
  border: 1px solid black;
  color: #f18c8e;
  font-family: "Cinzel", serif;
  width: 160px;
  height: 60px;
  outline: none;
  transition: 1s ease-in-out;
}

.btn1 {
  margin-top: 95%;
}

@media (min-width: 321px) and (max-width: 600px) {
  .btn {
    width: 100%;
    height: 60px;
    margin-top: 10%;
    text-align: center;
    background-color: white;
  }
}

.btn:hover,
.btn1:hover {
  transition: 1s ease-in-out;
  background: white;
  color: black;
  cursor: pointer;
  width: 160px;
  height: 60px;
  margin: 
0 auto;}

@media (min-width: 321px) and (max-width: 600px) {
  .btn:hover,
  .btn1:hover {
    width: 100%;
    height: 60px;
    margin-top: 10%;
    text-align: center;
    background-color: white;
  }
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #f18c8e;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.read {
  margin-left: 8%;
}

.newsletter {
  font-family: "Cinzel", serif;
}

.newsletter input {
  font-family: "Cinzel", serif;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  height: 20px;
}

.newsletter p {
  max-width: 100%;
  font-size: 3em;
  font-family: "Cinzel", serif;
  text-align: center;
}

.newsletter .btn {
  margin-left: 45%;
  height: 30px;
  padding-left: 45px;
  width: 10%;
}

/********
Footer
/*******/

footer {
  margin-top: 5%;
  width: 100%;
  height: 200px;
  color: #2b1d0e;
  float: left;
  font-family: "Cinzel", serif;
  background-color: white;
  text-align: center;
}



@media (min-width: 321px) and (max-width: 600px) {
  footer {
    width: 100%;
    height: 250px;
    margin-top: 10%;
    text-align: center;
    background-color: white;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .newsletter .question {
    max-width: 80%;
    font-size: 2em;
    margin-left: 10%;
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .newsletter p {
    max-width: 100%;
    font-size: 1em;
    font-family: "Cinzel", serif;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  footer .social {
    width: 100%;
    font-size: 1.5em;
    margin-right: 50%;
  }
  
}

@media (min-width: 321px) and (max-width: 600px) {
  footer .social:hover {
    
    color: #f18c8e;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  input {
    margin-left: 30%;
    margin-bottom: 2%;
    max-width: 100%;
    text-align: center;
    font-family: "Cinzel", serif;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .newsletter .btn {
    width: 20%;
    height: 30px;
    margin-left: 40%;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 5%;
  }
}

  footer .social:hover {
    
    color: #f18c8e;
}

