html {
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f18c8e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f18c8e;
}

header{
 height: 20px;
  width: 100%;
}

header:hover {
  color: black;
}

header img {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  mix-blend-mode: multiply;
  padding-right: 6%;
}

ul,
li,
.dropbtn,
.dropdown {
  background: inherit;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1%;
  list-style: none;
  font-family: "Gideon Roman", cursive;
  font-weight: bold;
  color: white;
  font-weight: bold;
  float: left;
  display: flex;
  height: 30px;
  font-size: 1em;
  padding-bottom: 20px;
  margin: 0 auto;
  color: #2b1d0e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f0b7a4;
}

.dropdown-content a:hover {
  background-color: #f1d1b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input {
  height: 30px;
  font-family: "Gideon Roman", cursive;
  width: 100%;
  border-radius: 20px;
}

label {
  color: white;
}

li:hover {
  color: black;
  background: #f1d1b5;
  width: 100%;
}

main {
  background-image: url("https://media.allure.com/photos/5ee3fa2b9fef7c000870b6a4/1:1/w_2000,h_2000,c_limit/black-owned-hair-care-brands-.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
width: 100%;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-bottom: 10%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;
}

h1 {
  color: #f18c8e;
  font-family: "Gideon Roman", cursive;
  font-size: 4em;
  text-align: center;
  padding-top: 15%;
  width: 100%;
  font-weight: bold;
}

.gif {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-animation: fadeslideUp 12s infinite; /* Chrome, Opera 15+, Safari 5+ */
  -moz-animation: fadeslideUp 12s infinite; /* Fx 5+ */
  -o-animation: fadeslideUp 12s infinite; /* Opera 12+ */
  animation: fadeslideUp 12s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.gif h2 {
  text-align: center;
  font-weight: bold;
  color: #f18c8e;
  font-family: "Gideon Roman", cursive;
}

#g2 {
  animation-delay: -9s;
  -webkit-animation-delay: -9s;
}

#g3 {
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

#g4 {
  animation-delay: -3s;
  -webkit-animation-delay: -3s;
}

@-webkit-keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
}

@-moz-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@-o-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-60%);
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
  }
  10% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  25% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
}

.square {
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  color: #2b1d0e;
  position: absolute;
  top: 70%;
  left: 10%;
  width: 15%;
  height: 400px;
  font-family: "Gideon Roman", cursive;
  font-size: 1em;
}

.button1,
div button {
  background: white;
  color: #343434;
  font-family: "Gideon Roman", cursive;
  margin-left: 10%;
}

.button2 {
  background-color: #f0b7a4;
  border-radius: 30px;
}

.button2:hover {
  background-color: #f1d1b5;
}

.quality_product {
  max-width: 20%;
  padding-right: 5%;
  margin-bottom: 5%;
  height: 200px;
  font-family: "Gideon Roman", cursive;
  float: left;
  font-size: 1em;
}

h3 {
  height: 100px;
  font-size: 2em;
  width: 100%;
  padding-left: 200px;
  color: #2b1d0e;
  font-weight: bold;
  background: url("https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

h4 {
  font-size: 1.5em;
}



h5 {
  color: #2b1d0e;
  text-align: center;
  font-size: 2em;
  padding-left: 35%;
}

.chair {
  mix-blend-mode: color-burn;
  height: 40%;
  width: 30%;
  padding-left: 90%;
  padding-right: 5%;
  padding-top: 20%;
  padding-bottom: 5%;
}

.list {
  width: 100%;
  padding-left: 75%;
  padding-right: 35%;
  font-size: 1.5em;
  margin-bottom: 10%;
}

section {
  width: 30%;
  float: left;
  font-family: "Gideon Roman", cursive;
  color: rgb(224, 227, 227);
  height: 405px;
  margin-top: 15%;
  margin-left: 15%;
  font-size: 1.5em;
  color: #343434;
}

.video {
  height: 300px;
  margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.experience{
  width: 100%;
  height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.stylist_photo {
  float: left;
}

.book1 {
  margin-top: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  display: flex;
  margin-bottom: 10%;
}

.block {
  background: #f1d1b5;
}

.book2 {
  height: 40px;
}

.quiz1 {
  width: 100%;
  height: 500px;
  background-image: url("https://media3.giphy.com/media/QaY6k5rchyVwIZSjeZ/giphy.gif?cid=ecf05e47ec83phbegatf1vahpff6mffzvcspyk7erjal7wfo&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: left;
}

.wash {
  width: 30%;
  float: right;
}

.one {
  background-image: url("https://fabwags.com/wp-content/uploads/2017/02/angela-reed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 400px;
  text-align: center;
  margin: 5%;
  font-family: "Cormorant Garamond", serif;
float: left;
  
}

.two {
  background-image: url("https://law.unlv.edu/sites/default/files/monique_jammer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  margin: 5%;
  height: 400px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  float: left;
 
}

.zero {
  background-image: url("https://media.bizj.us/view/img/11153957/unknown-4*750xx3777-5036-0-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5%;
  width: 20%;
  height: 400px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  float: left;

}

.img1 {
  max-width: 395;

  height: 300px;
  display: flex;
}

.team {
  width: 50%;
}

.people {
height: 100px;
}

.offer {
   background-image: url('https://culturednaturals.com/wp-content/uploads/2018/01/Group-Shot.jpg');
  width: 80%;
    background-position: center;
background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  margin-left: 5%;
  height: 350px;
  font-size: 2em;
  color:#f18c8e ;
}


.lookbook{
  margin-top: 15%;
  height: 700px;
}

.look1{
  height: 300px;
  width: 30%;
  margin: 1%;
}

.look2{
  height: 200px;
  width: 30%;
  margin-top: 2%;
}

.footer{
height: 300px;
}


